html, body {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    background: #f0f2f5;
}

.custom-list {
    .ant-spin-container {
        .ant-list-items {
            .ant-list-item {
                background: white;
                padding: 10px 15px;
                border-bottom: 1px solid #d7d7d7;
            }
        }       
    }
}

.ant-typography {
    text-align: center;
}